@page
@model HumanResources.Views.Login.IndexModel
@{
}
<script>
    $(document).ready(function () {
        $('#uid').textbox('textbox').focus();
        $('#uid').textbox('textbox').bind('keydown', function (e) {
            if (e.keyCode == 13) {
                $('#pwd').textbox('textbox').focus();
            }
        });
        $('#pwd').passwordbox('textbox').bind('keydown', function (e) {
            if (e.keyCode == 13) {
                formsubmit();
            }
        });
        ReSize();
        $(window).resize(function () {
            ReSize();
        });

    });
    function formsubmit() {
        var msg = "";
        if ($("#UserID").val() == "") {
            msg = "請輸入帳號";
        }
        else if ($("#UserPwd").val() == "") {
            msg = "請輸入密碼";
        }
        if (msg == "") {
            $("#UserLogin").submit();
        }
    }
    function ReSize() {
        var ww = $(window).width();
        $("#BackImage").css("background-image", "url(../Pic/bg4.jpg)");
        if (ww < 650) {
            $("#BackImage").css("background-size", "100% " + window.innerHeight + "px");
        } else {
            $("#BackImage").css("background-size", "100% auto");
        }
        var hh = (window.innerHeight - 340) / 2;
        if (hh < 0) hh = 0;
        $("#MainPanel").css("margin-top", hh + "px");
    }
</script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h3>Login</h3>
                </div>
                <div class="card-body">

                    <form id="UserLogin" asp-controller="Login" asp-action="ValidLogin" method="post">
                        <div class="form-group">
                            <label for="Username">Username</label>
                            <input name="uid" id="uid" class="easyui-textbox" style="width:100%;height:30px" value=""
                                   data-options="prompt:'User ID',iconCls:'icon-man',iconWidth:38" autofocus>
                        </div>

                        <div class="form-group mt-3">
                            <label for="Password">Password</label>
                            <input name="pwd" id="pwd" class="easyui-textbox" style="width:100%;height:30px" value=""
                                   data-options="prompt:'Password',iconCls:'icon-man',iconWidth:38" autofocus>
                        </div>

                        <div class="form-check mt-3">
                            <input type="checkbox" class="form-check-input" id="RememberMe" />
                            <label class="form-check-label" for="RememberMe">Remember me</label>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block mt-4" onclick="formsubmit()">Login</button>
                    </form>
                    <!-- 顯示錯誤訊息 -->
                    @if (ViewBag.ErrorMessage != null)
                    {
                        <div class="alert alert-danger mt-3">
                            @ViewBag.ErrorMessage
                        </div>
                    }
                </div>
                <div class="card-footer text-center">
                    <a href="#">Forgot password?</a>
                </div>
                @* <p>
                    <span style="font-weight:bold;color:red;text-align:center;">@ViewData["msg"]</span>
                </p> *@
            </div>
        </div>
    </div>
</div>